:root {
   box-sizing: border-box;
   --background-color: rgb(21, 20, 37);
   --font-color: rgb(216, 216, 216);
   --my-name-color: rgb(152, 30, 201);
   font-size: 20px;
   scroll-behavior: smooth;
   -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 800px) {
   :root {
      font-size: 18px;
   }
}

@media screen and (max-width: 500px) {
   :root {
      font-size: 14px;
   }
}

@font-face {
   font-family: 'Roboto';
   src: url('Roboto.woff2') format('woff2');
}

body {
   margin: 0;
   background-color: var(--background-color);
   color: var(--font-color);
   font-family: 'Roboto';
}

#hero {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero-details p {
   margin: 0;
}

.hero-text {
   font-size: 2rem;
}

.my-name {
   color: var(--my-name-color)
}

a.hero-main-link {
   display: flex;
   align-items: center;
   padding: 12px 24px;
   font-size: 1rem;
   border: 2px solid var(--my-name-color);
   border-radius: 8px;
   margin-top: 30px;
   height: 2rem;
   box-shadow: 0 -4px 0 0 var(--my-name-color) inset;
   cursor: pointer;
   color: var(--font-color);
   text-decoration: none;
}

.fa-arrow-down {
   font-size: 1.2rem;
   color: var(--my-name-color);
   margin-left: 1rem;
}

.hero-main-link:active {
   background-color: var(--my-name-color);
   height: calc(2rem - 4px);
   margin-top: 34px;
}

.hero-main-link:active .fa-arrow-down {
   color: var(--font-color);
}

nav {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: black;
   position: sticky;
}

ul.nav-links {
   display: flex;
   justify-content: space-between;
   list-style: none;
   padding: 0;
   width: 100%;
}

ul.nav-links li {
   margin: 0 1rem;
}

ul.nav-links li a {
   color: var(--font-color);
   text-decoration: none;
   font-weight: 600;
}

ul.nav-links li a:hover {
   color: var(--my-name-color)
}